‍<key>UIAppFonts</key>
‍<array>‍
  <string>AntDesign.ttf</string>‍
  <string>Inter.ttf</string>‍
  <string>EvilIcons.ttf</string>‍
  <string>Feather.ttf</string>‍
  <string>FontAwesome.ttf</string>‍
  <string>FontAwesome5_Brands.ttf</string>‍
  <string>FontAwesome5_Regular.ttf</string>‍
  <string>FontAwesome5_Solid.ttf</string>‍
  <string>Foundation.ttf</string>‍
  <string>Ionicons.ttf</string>‍
  <string>MaterialIcons.ttf</string>‍
  <string>MaterialCommunityIcons.ttf</string>‍
  <string>SimpleLineIcons.ttf</string>‍
  <string>Octicons.ttf</string>‍
  <string>Zocial.ttf</string>‍
‍</array>

<!-- Required with iOS 10 and higher -->
<key>NSCameraUsageDescription</key>
<string>Your message to user when the camera is accessed for the first time</string>

<!-- Required with iOS 11 and higher: include this only if you are planning to use the camera roll -->
<key>NSPhotoLibraryAddUsageDescription</key>
<string>Your message to user when the photo library is accessed for the first time</string>

<!-- Include this only if you are planning to use the camera roll -->
<key>NSPhotoLibraryUsageDescription</key>
<string>Your message to user when the photo library is accessed for the first time</string>

<!-- Include this only if you are planning to use the microphone for video recording -->
<key>NSMicrophoneUsageDescription</key>
<string>Your message to user when the microphone is accessed for the first time</string>